<h1># User Index</h1>

<table>
  <thead>
    <tr>
      <th>#</th>
      <th>ユーザー名</th>
      <th>投稿数</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do | user | %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.email %></td>
        <td><%= user.articles.count %></td>
        <td><%= link_to '編集', edit_admin_user_path(user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>